99-papers/*
lane_info.txt
population_map.txt
*~
*.bak
*.fas
*.fasta
*.fq
*.log
*.odt
*.png
*.swp
*.temp
*.tsv
*.vcf
*barcode*
*list.txt
*private*
*testlog*
*test*
*.fastq.gz*
*/population_map*
*/sample_information*
*_filtered_*
