*.012*
*.P
*.Q
*.Rhistory
*.amb
*.ann
*.backup
*.bai
*.bak
*.bam
*.bed
*.bim
*.bwt
*.categorized
*.doctree
*.fam
*.fas
*.fasta
*.fastq.gz*
*.fq
*.fq.gz
*.ids
*.info
*.infos
*.jpg
*.js
*.log
*.md
*.nosex
*.numseq
*.odt
*.pac
*.pdf
*.pickle
*.png
*.sa
*.sam
*.swp
*.temp
*.temp*
*.tsv
*.tsv.gz
*.ttf
*.vcf
*.vcf.gz
*.weir.fst
*.xls
*.xlsx
*.zip
*/population_map*
*/sample_information*
*BWA_temp*
*_filtered_*
*barcode*
*data*
*deleteme*
*list.txt
*population_genetics*
*private*
*testlog*
*~
00-scripts/colosse_jobs/bwa_stacks.sh
00-scripts/colosse_jobs/gsnap_stacks.sh
01-info_files/*
02-raw/*
03-samples/*
04-all_samples
05-stacks/*
06-stacks_rx/*
07-filtered_vcfs/*
08-genome/*
09-population_vcfs/*
10-log_files/*
11-admixture*
12-results/*
99-project_info/*
DELIVERED*
GSNAP*.sh
PSTACKS*.sh
all_samples_for_alignment.txt
bad_samples*
batch_1.*
filtered_*
gsnaptemp.list.*
input_renamed.*
lane_info.txt
log_*
logfiles
nohup.out
numreads_per_sample*
population_genomics/*
population_map.txt
populations
sample_files*
samples.het
samples.relatedness
samples.relatedness.outliers.csv
samples_split/*
temp.list.*
vcf_impute/*
