00-scripts/colosse_jobs/bwa_stacks.sh
00-scripts/colosse_jobs/gsnap_stacks.sh
01-info_files/*
02-raw/*
03-samples/*
04-all_samples
05-stacks/*
06-stacks_rx/*
07-filtered_vcfs/*
08-genome/*
09-population_vcfs/*
10-log_files/*
99-project_info/*
GSNAP*.sh
PSTACKS*.sh
batch_1.*
filtered_*
gsnaptemp.list.*
lane_info.txt
logfiles
log_*
nohup.out
population_map.txt
sample_files*
temp.list.*
*~
*.Rhistory
*.amb
*.ann
*.backup
*.bai
*.bak
*.bam
*.bwt
*.doctree
*.fas
*.fasta
*.fq
*.fq.gz
*.infos
*.jpg
*.js
*.log
*.numseq
*.odt
*.pac
*.pickle
*.png
*.sa
*.sam
*.swp
*.temp
*.tsv
*.tsv.gz
*.ttf
*.vcf
*BWA_temp*
*barcode*
*data*
*list.txt
*private*
*testlog*
*.fastq.gz*
*.temp*
*/population_map*
*/sample_information*
*_filtered_*
